body{
  color:white;
  background: black;  
  margin: 2px; 
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 110px;
}


header {
    border-bottom: solid 2px rgb(195, 211, 233);
    padding: 20px;
    font-size: 24px;
    color: rgb(195, 211, 233);
}


.chamada {
    background: rgb(89, 93, 100);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
  margin-right: 5%;
} 

h1 {
  font-size: 28px;
}

p {
  font-size: 19px;
}

img {
 height: 219px;
}

.categoria-musicas{
  display: flex;
  overflow-x: auto;
  gap: 9px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 49px;
}

.categoria-musicas img  {
 opacity: 0.5;
}

.categoria-musicas img:hover {
  opacity: 1.0;
  border: 1px solid rgb(7, 2, 247)
}

.categoria h2 {
  color:rgb(195, 211, 233);
}